
@import '/node_modules/flowbite-vue/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: Urbanist;
  box-sizing: border-box;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}
html,
body,
div,
img,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
section {
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none;
}}
@media (prefers-color-scheme: light) {
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color:#696969FF;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none;
}}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes slideOut {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
}

@layer {

    /* body {
      @apply w-full h-screen bg-white dark:bg-gray-950 opacity-95 text-secondary dark:text-white scrollbar-thin;
    } */
    /* Customize scrollbar width */
  .scrollbar-thin {
    scrollbar-width: thin; /* For Firefox */
  }

  .scrollbar-none {
    scrollbar-width: none; /* For Firefox */
  }

  /* WebKit browsers (Chrome, Safari, Edge) */
  .scrollbar-thin::-webkit-scrollbar {
    width: 1px; /* Vertical scrollbar width */
    height: 1px; /* Horizontal scrollbar height */
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5); /* Scrollbar thumb color */
    border-radius: 5px; /* Scrollbar thumb roundness */
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Hide scrollbar completely */
  }
  .menu__toggler {
    transform-origin: right center;
    z-index: 999;
    transform: translateX(-100%);
    transform-origin: left center;
    transition:
      transform 0.5s ease 0.5s,
      visibility 0.5s ease 0.5s;
    visibility: hidden;
  }
  .menu__toggler.expanded {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    visibility: visible;
    -webkit-transition:
      visibility 0.5s ease 0ms,
      -webkit-transform 0.5s ease 0ms;
    transition:
      visibility 0.5s ease 0ms,
      -webkit-transform 0.5s ease 0ms;
    transition:
      transform 0.5s ease 0ms,
      visibility 0.5s ease 0ms;
    transition:
      transform 0.5s ease 0ms,
      visibility 0.5s ease 0ms,
      -webkit-transform 0.5s ease 0ms;
  }
  /* .menu__overlay {
    position: absolute;
    z-index:998
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
    cursor: pointer;
    margin: 0;
  } */

  .menu__content {
    width: 300px;
    background-color: #00000046;
    z-index: 10;
    position: relative;
    height: 100%;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition:
      opacity 0.5s ease 0ms,
      visibility 0.5s ease 0ms,
      -webkit-transform 0.5s ease 0ms;
    transition:
      opacity 0.5s ease 0ms,
      visibility 0.5s ease 0ms,
      -webkit-transform 0.5s ease 0ms;
    transition:
      opacity 0.5s ease 0ms,
      visibility 0.5s ease 0ms,
      transform 0.5s ease 0ms;
    transition:
      opacity 0.5s ease 0ms,
      visibility 0.5s ease 0ms,
      transform 0.5s ease 0ms,
      -webkit-transform 0.5s ease 0ms;
  }

  .mobile__toggler.expanded .menu__content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition:
      opacity 0.5s ease 0.5s,
      visibility 0.5s ease 0.5s,
      -webkit-transform 0.5s ease 0.5s;
    transition:
      opacity 0.5s ease 0.5s,
      visibility 0.5s ease 0.5s,
      -webkit-transform 0.5s ease 0.5s;
    transition:
      opacity 0.5s ease 0.5s,
      visibility 0.5s ease 0.5s,
      transform 0.5s ease 0.5s;
    transition:
      opacity 0.5s ease 0.5s,
      visibility 0.5s ease 0.5s,
      transform 0.5s ease 0.5s,
      -webkit-transform 0.5s ease 0.5s;
  }

  .slide-out {
    animation: slideOut 0.5s ease-out 3s forwards;
  }
  .swal2-icon-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
