@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--muted: 204 15% 94%; /* #ECEFF1 */
		--muted-foreground: 210 12% 72%; /* #AEB7BF */

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;

		--primary: 230 70% 51%; /* #2B47D9 */
		--primary-foreground: 210 40% 98%; /* #FFF */
		--primary-hover: 230 74% 39%; /* #1A32AF */

		--secondary: 200 18% 97%; /* #F5F7F8 */
		--secondary-foreground: 213 11% 19%; /* #2C3137 */
		--secondary-hover: 204 15% 94%; /* #ECEFF1 */

		--accent: 200 18% 97%; /* #F5F7F8 */
		--accent-foreground: 213 11% 19%; /* #2C3137 */

		--destructive: 351 88% 59%; /* #F23C57 */
		--destructive-hover: 351 67% 49%; /* #CF2942 */
		--destructive-foreground: 0 0% 100%; /* #FFF */

		--destructive-secondary: 351 89% 93%; /* #FDDBE0 */
		--destructive-secondary-hover: 351 89% 93%; /* #FDDBE0 */
		--destructive-secondary-foreground: 351 88% 59%; /* #F23C57 */

		--ring: 222.2 84% 4.9%;
		--radius: 1rem;

		/* SIDEBAR */
		--sidebar-background: var(--background);
		--sidebar-foreground: var(--foreground);
		--sidebar-primary: var(--primary);
		--sidebar-primary-foreground: var(--primary-foreground);
		--sidebar-accent: var(--accent);
		--sidebar-accent-foreground: var(--accent-foreground);
		--sidebar-border: var(--accent-foreground);
		--sidebar-ring: var(--ring);
 }
	}	


@layer base {

	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
